// RESET
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

// colours
    @black: #232323;
    @white: white;
    @blue: #536682;
    @red: #B52C38;
    @orange: #D9964B;
    @beige: #EBD1B0;
    @salmon: #DE6846;

    @sans-font: 'Open Sans', Sans-Serif;

html {
    background-color: @black;
}

body {
    width: 940px;
    color: @white;
    font-family: @sans-font;
    line-height: 1.5;
    padding: 10px;
}

header {
    h1, p {
        text-align: center;
    }

    padding-bottom: 10px;
}

form {
    text-align: center;
}

.drop-button {
    display: block;
    width: 150px;
    text-align: center;
    margin: 10px auto;
}

.meme-url {
    width: 400px;
}

.plot {
    width: 800px;
}

// headings

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

// chart styles

.facebook {
    fill: @red;
}

.reddit {
    fill: @blue;
}
